* {
    font-family: 'Arvo', serif;  
    box-sizing: border-box;
    color: white;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: #1A1A1D;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

#header {
    background: #222629 url("header_bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    width: 100%;
    display: grid;
    place-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}



.colour_overlay {
    width: 100%;
    height: 100%;
    background: #222629;
    opacity: 0.5;
    position: absolute;
}



.grid {
  background-color: #474B4F;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 75% 25%;
  height: 7vh;
  justify-content: end;
}

.grid2 {
  display: grid;
  grid-template-columns: 65% 35%;
  justify-content: center;
}

.grid3 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
}

.grid4 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
}

.item_icons{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 20px;
}

.page_nav{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px;
}

.code_icon {
  font-size: 4vw;
}

.skills_icon {
  font-size: 4vw !important;
}

.skills_icon:hover {
  color: white !important;
}

.link_to_page_button {
  margin: 0px 20px 0px 0px;
}

.title {
    font-size: 100px;
    z-index: 1;
}

.subtitle {
  font-size: 75px;
  z-index: 1;
  text-decoration: none;
  color: #86C232;
}


.external_links_menu_text {
    font-size: 25px;
    z-index: 1;
    margin: 20px;
}



.intro_section {
  padding: 20px;
  margin: 80px 80px 80px 80px;
  border-radius: 30px;
  color: black;
  background-color: white;
  text-align: center;
}

.coding_section {
  padding: 20px;
  margin: 80px 80px 80px 80px;
  border-radius: 30px;
  color: black;
  background-color: white;
  text-align: center;
}

.skills_section {
  padding: 20px;
  margin: 80px 80px 80px 80px;
  border-radius: 30px;
  color: black;
  background-color: white;
  text-align: center;
}

.projects_section {
  padding: 20px;
  margin: 80px 80px 80px 80px;
  border-radius: 30px;
  color: black;
  background-color: white;
  text-align: center;
}

.languages_section {
  padding: 30px;
  border-radius: 30px;
  color: black;
  background-color: #a7d16b;
  text-align: center;
}

.contact_section {
  padding: 20px;
  margin: 80px 80px 80px 80px;
  border-radius: 30px;
  color: black;
  background-color: white;
  text-align: center;
}

.intro_title {
  color: #61892F;
  font-size: 2.4vw;
}

.intro_text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1.1vw;
}

.self {
  display: flex;
  justify-content: center;
  align-items: center;
}

.self_portrait {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 50%;
  border: 4px solid #86C232;
  box-shadow: 0px 6px 5px #fff;
}


.fade_in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
  }

.emphasis {
  color: #86C232;
}

.links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.links li {
  list-style: none;
  font-size: 1.1vw;
}

.links li a {
  text-decoration: none;
  color: white;
  padding: 20px;
}

.links li a:hover {
  color: #86C232;
}

.fab {
  font-size: 2vw;
}

.fab:hover {
  color: #86C232;
}

.fas {
  font-size: 2vw;
}

.fas:hover {
  color: #86C232;
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
}

.tab {
  overflow: hidden;
  background-color: #474B4F;
  border-radius: 30px;
}

.tablinks {
  font-size: 0.8vw;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tabcontent{
  animation: fadeEffect 1s;
}


.tab button:hover {
  background-color:#a7d16b;
}

.tab button.active {
  background-color:#94d33b;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.project_grid {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
}

.project_title {
  display: flex;
  justify-content: left;
  align-items: left;
  color: black;
  font-size: 2.1vw;
  padding-left: 30px;
  padding-top: 30px;
}

.project_subtitle {
  display: flex;
  justify-content: left;
  align-items: left;
  color: black;
  font-size: 0.8vw;
  padding-left: 30px;
  font-style: italic;
}

.image_subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 0.8vw;
  padding-left: 30px;
  font-style: italic;
}

.image_subtitle_text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 0.8vw;
  padding-left: 30px;
  font-style: italic;
}

.project_desc_text {
  display: flex;
  align-items: left;
  justify-content: left;
  color: black;
  font-size: 0.9vw;
}

.project_bottom_section {
  color: black;
  font-size: 0.9vw;
}

.github_repo {
  color: white !important;
}

.github_repo:hover {
  color: black !important;
}

.project_image_source {
  width: 39vw;
  height: auto;
  border: 1px solid #61892F;
}

.project_code_icon {
  font-size: 2vw;
}

.project_code_icon:hover {
  font-size: 3vw;
  animation: icon_enlarge 0.2s;
}

@keyframes icon_enlarge {
  0% {
    font-size: 2vw;
  }

  100% {
    font-size: 3vw;
  }
}